.tabs {
    display: flex;
    min-height: 24rem;
}

.tab {
    background: var(--primary-color);
    height: 100px;
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
    margin: 0 -10px -40px 0;
    transition: .5s ease-in-out all;
    position: relative;
    backface-visibility: visible;

    &::after {
        content: "";
        background-color: var(--primary-bg-dark);
        opacity: .5;
        display: block;
        position: absolute;
        top: 0;
        --b: 5px;
        height: 100px;
        aspect-ratio: 1/cos(30deg);
        clip-path: polygon(0 50%, 50% -50%, 100% 50%, 50% 150%, 0 50%,
        var(--b) 50%,
        calc(25% + var(--b) * cos(60deg)) calc(100% - var(--b) * sin(60deg)),
        calc(75% - var(--b) * cos(60deg)) calc(100% - var(--b) * sin(60deg)),
        calc(100% - var(--b)) 50%,
        calc(75% - var(--b) * cos(60deg)) calc(var(--b) * sin(60deg)),
        calc(25% + var(--b) * cos(60deg)) calc(var(--b) * sin(60deg)),
        var(--b) 50%);
        transition: .5s ease-in-out all;
    }

    /*&::before {*/
    /*    content: '';*/
    /*    display: block;*/
    /*    width: 300px;*/
    /*    height: 90px;*/
    /*    position: absolute;*/
    /*    top: 5px;*/
    /*    left: 30px;*/
    /*    background: linear-gradient(90deg, rgb(88, 196, 220, 0.5) 50%, rgba(2,0,36,0) 100%);*/
    /*    z-index: -1;*/
    /*}*/

    &:hover {
        transition: .5s ease-in-out all;

        &::after {
            --b: 0px;
            transition: .5s ease-in-out all;
        }
    }

    &:global.active {
        transform: scale(1.19);
        transition: .5s ease-in-out transform;
    }

    &:nth-child(2) {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    &:nth-child(3) {
        grid-row-start: 3;
    }

    &:nth-child(4) {
        grid-column-start: 2;
        grid-row-start: 4;
    }
}

.panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
    height: fit-content;
}

.content {
    width: 100%;
    margin: 0 0 0 3rem;
}


