.headersSection, .mainSections {
    background-color: var(--primary-dark);
    padding: 1rem;
    margin-bottom: 2rem;
    border-top: 1px solid var(--primary-color);
}

.removeButton, .orderButton {
    background-color: transparent;
    width: 2.5rem;
    height: 2.5rem;
    transition: background-color .3s ease-in-out;
    & > svg {
        fill: var(--text-color);
        transition: fill .3s ease-in-out;
    }
    &:hover {
        background-color: var(--primary-color);
        transition: background-color .3s ease-in-out;
        & > svg {
            fill: var(--text-color-reverse);
            transition: fill .3s ease-in-out;
        }
    }
}

.addButton, .saveButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.5rem;
    background-color: var(--primary-color);
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    & > svg {
        fill: var(--text-color-reverse);
        transition: fill .3s ease-in-out;
    }
    &:hover {
        background-color: var(--text-color-reverse);
        transition: background-color .3s ease-in-out, color .3s ease-in-out;
        color: var(--text-color);
        & > svg {
            fill: var(--text-color);
            transition: fill .3s ease-in-out;
        }
    }
}

.saveButton {
    padding: 1rem;
}

.buttonGroup {
    text-align: end;
}

.line {
    display: flex;
    gap: 1rem;
    /*align-items: center;*/
}

.doubleLine {
    display: flex;
    gap: 1rem;
    flex: 50%;
    columns: 2;
}

.textareaGroup {
    width: 100%;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
}
