//COLORS
$grey-color: #262626;
$yellow-color: #fce38a;
$orange-color: #ff9932;
$white-color: #ffffff;
$grey-hover-color: #d9d9d9;
$grey-bg-color: #f0f0f0;
$color-font: #333333;
//FONTS
$regular-roboto: 'Roboto', sans-serif;
$header-font: 'Montserrat', sans-serif;
$h3-font: 'Expletus Sans', cursive;