.menuBar {
    border: 1px solid var(--primary-color);
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--primary-dark);
}

.buttonGroup {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;

    & > button {
        border: 1px solid var(--primary-color);
        background-color: transparent;
        padding: .2rem .4rem;
        color: var(--primary-color);
        transition: color .2s ease-in-out, background-color .5s ease-in-out;
        &:disabled {
            opacity: .5;
        }
    }

    &:global > .is-active {
        background-color: var(--primary-color);
        color: var(--text-color-reverse);
        transition: color .2s ease-in-out, background-color .5s ease-in-out;
    }
}

.tiptapEditor {
    border: 1px solid var(--primary-color);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 5rem;
}
