.skillsPipe {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}
.mainSkill {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* adjust to control the size  */
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
    background-color: var(--primary-color);
}
.childSkill {
    display: flex;
    justify-content: center;
    align-items: center;
    --s: 40px;
    height: 30px;
    aspect-ratio: 8/5;
    clip-path: polygon(0 0,var(--s) 0,100% 50%,var(--s) 100%,0 100%,calc(100% - var(--s)) 50%);
    background-color: var(--primary-color);

}