.loaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--primary-bg-dark);
}

.loader {
    width: 150px;
    height: 150px;
    & > path:first-of-type {
        fill: var(--white-color);
        stroke: var(--white-color);
        stroke-width: 1px;
    }
    & > path:last-of-type {
        /*fill: var(--primary-color-light);*/
        /*stroke: var(--primary-color-light);*/
        /*fill: var(--white-color);*/
        /*stroke: var(--white-color);*/
        /*stroke-width: 1px;*/
    }
}

.loadingLine {
    width: 175px;
    height: 6px;
    display: inline-block;
    background-color: #FFF;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 75%, transparent);
    font-size: 30px;
    background-size: 1em 1em;
    box-sizing: border-box;
    animation: barStripe 1s linear infinite reverse;
    transform: translateY(-48px);
}

.title {
    transform: translateY(-50px);
}

@keyframes barStripe {
    0% {
        background-position: 1em 0;
    }
    100% {
        background-position: 0 0;
    }
}
